In [49]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

In [50]:
df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/healthcare-dataset-stroke-data.csv")

In [51]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [52]:
df.gender.value_counts()

Female    2994
Male      2115
Other        1
Name: gender, dtype: int64

In [53]:
# number of 'other' is very small, converting the value to 'Male'
df['gender']=df['gender'].replace('Other','Male')

In [54]:
df.replace({ 'gender': {'Male':1 ,'Female':0}} ,inplace=True)
df.replace({ 'ever_married': {'No':0 ,'Yes':1}} ,inplace=True)
df.replace({ 'Residence_type': {'Rural':0 ,'Urban':1}} ,inplace=True)
df.replace({ 'smoking_status': {'Unknown':0 ,'never smoked':1,'formerly smoked':2,'smokes':3}} ,inplace=True)
df.replace({ 'work_type': {'Private':0 ,'Self-employed':1,'children':2,'Govt_job':3,'Never_worked':4}} ,inplace=True)

In [55]:
#checking Datatypes
df.dtypes

id                     int64
gender                 int64
age                  float64
hypertension           int64
heart_disease          int64
ever_married           int64
work_type              int64
Residence_type         int64
avg_glucose_level    float64
bmi                  float64
smoking_status         int64
stroke                 int64
dtype: object

In [56]:
print ("Unique values are:\n",df.nunique())

Unique values are:
 id                   5110
gender                  2
age                   104
hypertension            2
heart_disease           2
ever_married            2
work_type               5
Residence_type          2
avg_glucose_level    3979
bmi                   418
smoking_status          4
stroke                  2
dtype: int64

In [57]:
#checking Datatypes
df.dtypes

id                     int64
gender                 int64
age                  float64
hypertension           int64
heart_disease          int64
ever_married           int64
work_type              int64
Residence_type         int64
avg_glucose_level    float64
bmi                  float64
smoking_status         int64
stroke                 int64
dtype: object

In [58]:
#counting outliers for bmi

bmi_outliers=df[df['bmi']>50]
bmi_outliers['bmi'].shape

(79,)

In [59]:
#replacing outlier entries with mean of bmi
df["bmi"] = df["bmi"].apply(lambda x: df.bmi.mean() if x>50 else x)

In [60]:
# Replacing null values of bmi with mean of bmi column

df.bmi.replace(to_replace=np.nan,value=df.bmi.mean(), inplace=True)
print (df.shape)

(5110, 12)

In [61]:
#Defining X and y
x = df.drop(['stroke'], axis=1)
y = df['stroke']

In [62]:
from sklearn.model_selection import train_test_split

In [63]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [64]:
# Checking split 
print('x_train:', x_train.shape)
print('y_train:', y_train.shape)
print('x_test:', x_test.shape)
print('y_test:', y_test.shape)

x_train: (4088, 11)
y_train: (4088,)
x_test: (1022, 11)
y_test: (1022,)

In [65]:
#import Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn import tree

In [66]:
clf = tree.DecisionTreeClassifier()
clf.fit(x_train, y_train)
pred = clf.predict(x_test)
accuracy_score(pred, y_test)
print("Decision Tree : {}%".format(accuracy_score(pred,y_test)*100))

Decision Tree : 91.6829745596869%

In [67]:
#kNN
import sys, os

# Import kNN classifier
from sklearn.neighbors import KNeighborsClassifier

# instantiate learning model (k = 3)
knn = KNeighborsClassifier(n_neighbors=3)

# Train the Classifier/fitting the model
knn.fit(x_train, y_train)

# predict the response
y_pred = knn.predict(x_test)

In [68]:
print("K-Nearest Neighbour Classifier : {:.2f}%".format(accuracy_score(pred,y_test)*100))

K-Nearest Neighbour Classifier : 91.68%

In [69]:
from sklearn.svm import SVC  #Support Vector Classification module

In [48]:
svclassifier = SVC(kernel='rbf')  
svclassifier.fit(x_train, y_train)  #Train data

SVC()

In [ ]:
#Making Prediction
y_pred = svclassifier.predict(x_test)

In [70]:
print("Support Vector Classifier : {:.2f}%".format(accuracy_score(pred,y_test)*100))

Support Vector Classifier : 91.68%

In [71]:
#Feature Scaling using sklearn Preprocessing Module
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [72]:
#X_train
x_test

array([[ 1.73768942e-01,  1.19299477e+00, -5.46048760e-01, ...,
        -9.11876874e-01, -8.04085806e-01, -1.14737106e+00],
       [ 8.94889337e-01,  1.19299477e+00, -1.46635607e-01, ...,
        -9.02232874e-01, -2.66679271e-02, -1.78068953e-01],
       [ 1.64186059e+00, -8.38226644e-01, -1.56677126e+00, ...,
        -7.02119867e-01, -8.77427115e-01, -1.14737106e+00],
       ...,
       [ 1.27809868e+00,  1.19299477e+00,  2.52777546e-01, ...,
         2.81568169e-01,  2.81365572e-01,  7.91233152e-01],
       [ 1.35585562e-01, -8.38226644e-01,  5.63432221e-01, ...,
         4.86064813e-01, -5.25388830e-01,  1.76053526e+00],
       [ 1.13357103e+00,  1.19299477e+00,  1.53977548e+00, ...,
        -9.57204781e-04, -1.73350546e-01, -1.78068953e-01]])

In [73]:
# Import Library
from sklearn.ensemble import RandomForestClassifier

In [74]:
clf = RandomForestClassifier(n_estimators = 200, random_state=200)
clf.fit(x_train, y_train)
pred = clf.predict(x_test)
print("Random Forest Model : {:.2f}%".format(accuracy_score(pred,y_test)*100))

Random Forest Model : 93.93%

In [75]:
confusion_matrix(y_test, pred)

array([[960,   0],
       [ 62,   0]])

In [76]:
# Import Library
from sklearn.linear_model import LogisticRegression

In [77]:
clf = LogisticRegression()
clf.fit(x_train, y_train)
pred = clf.predict(x_test)
print("Logistic Regression : {}%".format(accuracy_score(pred,y_test)*100))

Logistic Regression : 93.9334637964775%